.c-cardDetails__origin {
    width: 290px;
}

.c-cardDetails__residents {
    display: flex;
}

.c-cardDetails__residentsImg {
    margin-right: 10px;
}

.c-cardDetails__locationInfo {
    width: fit-content;
}

@media(max-width: 767px) {
    .c-cardDetails__origin {
        width: 320px;
    }

    .c-cardDetails__originInfoName {
        font-size: 18px;
    }
}