.c-cardDetails {
    background-color: black;
    max-width: 1000px;
    width: fit-content;
    height: fit-content;
    padding: 5px 25px 25px 0;
    border-radius: 20px;
    margin: auto;
}

.c-cardDetails__closeButton {
    display: flex;
    margin: 20px 0 0;
    justify-content: flex-end;
}

.c-cardDetails__allTopics {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 auto;
}

.c-cardDetails__topic {
    border: 4px solid #fff;
    border-radius: 15px;
    width: fit-content;
    padding: 15px 20px;
}

.c-cardDetails__topicTitle {
    color: #f8d121;
    letter-spacing: 3px;
}

.c-cardDetails__avatarAndTopics {
    display: flex;
}

.c-cardDetails__locationAndOrigin {
    display: flex;
    justify-content: space-between;
    min-height: fit-content;
}

