.c-cardDetails__location {
    width: 290px;
}

.c-cardDetails__residents {
    display: flex;
}

.c-cardDetails__residentsImg {
    margin-right: 10px;
}

.c-cardDetails__locationInfo {
    width: fit-content;
}

@media(max-width: 991px) {
    .c-cardDetails__location {
        width: 320px;
        margin-bottom: 7px;
    }

    .c-cardDetails__locationInfoName {
        font-size: 18px;
    }
}